{% extends 'admin/snips/base.html' %}
{% block body %}
{{ super() }}
<div class="panel panel-default">

    <div>
        {% if current_user.is_authenticated %}
        <center><h1>Welcome, {{current_user.username}} </h1></center>
        <div class="container-fluid">
            <table class="table table-striped table-bordered table-hover" style="width:30%;  display:inline-table;">
                <thead>
    				<tr>
    					<th>Alt. Text Requests</th>
    				</tr>
			    </thead>
			    <tbody>
			        {% for request in Requests %}
                    <tr>
                        <td> 
                            <!--<a href="{{ '/request/view/%s'%request.id}}"> -->
                            <a href="/admin/request">
                                {{request.user}}: {{request.created_at}}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table style="width:30%; display:inline-table">
            </table>
            <table class="table table-striped table-bordered table-hover" style="width:30%; float: right; display:inline-table">
                <thead>
    				<tr>
    					<th>Notifications</th>
    				</tr>
			    </thead>
			    <tbody>
			        {% for Notification in Notifications %}
                    <tr>
                        <td> 
                            {{Notification.user}}: {{Notification.title}} {{Notification.created_at}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>    
            </table>
        </div>
        
        {% else %}
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div>
            {{ f.label }}
            {{ f }}
            {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            {% endfor %}
            <button class="btn" type="submit">Submit</button>
        </form>
        {{ link | safe }}
        {% endif %}
    </div>
</div>
{% endblock body %}
