{% extends "admin/snips/base.html" %} 
{% set currentPage = "Upload" %}
{% block body %}

<ul class="nav nav-tabs">
    <li>
        <a href="/admin/file/">List</a>
    </li>
    <li class="active">
        <a href="#">Create</a>
    </li>
    
</ul>
<form id="drop" action="/admin/uploading" class="admin-form form-horizontal" method="post" enctype="multipart/form-data">
    <div class="admin-form form-horizontal">
        <fieldset>
            <div class="control">
                <input type="file" name="file" multiple required></input> 
            </div>
            <div>
                <label for="title-t" class="control-label">Title</label>
            	<input type="text" name="title" id="title-t" class="form-control" required> </input>
            </div>
            <div>
                <label for="author-t" class="control-label">Author</label>
            	<textarea type="text" name="author" id="author-t" rows=1 cols=max class="form-control"></textarea>
            </div>
            <div>
                <label for="edition-t" class="control-label">Edition</label>
            	<textarea type="text" name="edition" id="edition-t" rows=1 cols=max class="form-control"></textarea>
            </div>
        <hr>
        <div class="text-left">
        	<input type="submit" class="btn btn-primary" value="Save">
        	<a href="/admin/file/" class="btn btn-danger">Cancel</a>
        </div>	
    </fieldset>
</form>
{% endblock %}