{% extends "snips/base.html" %}
{% set CurrentPage = "Index" %}
{% block body %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Welcome, {{current_user}}</h1>
	</div>
	<div class="panel-body">
		<table id="example" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Edition</th>
					<th>Size</th>
					<th>Last Modified</th>
				</tr>
			</thead>
			<tbody>
			{% for file in items %}
			{% if not file.hidden == 1 %}
            <tr>
				<th>
					<div class="row">
						<div class="col-md-2">
							<a class="btn btn-default" href="{{ '/download/%s'%file.id}}">
								<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
							
							</a>
						</div>	
						<div class="col-md 10">
							<a style="color:black;" href="{{'/file/%s'%file.id}}">{{ file.title }}</a>
						</div>
					</div>
				</th>
				<th><a style="color:black;" href="{{'/file/%s'%file.id}}">{{ file.author }}</a></th>
				<th><a style="color:black;" href="{{'/file/%s'%file.id}}">{{ file.edition }}</a></th>
				<th><a style="color:black;" href="{{'/file/%s'%file.id}}">{{ file.size }}</a></th>
				<th><a style="color:black;" href="{{'/file/%s'%file.id}}">{{ file.last_modified }}</a></th>
			</tr>
			{% endif %}
			{% endfor %}
   			</tbody>
		</table>
	</div>
</div>
{% endblock %}