{% extends "snips/base.html" %} 
{% set currentPage = "Request" %}
{% block body %}
<div class="panel panel-default">
	<div class="panel-heading">
	</div>
	<div class="panel-body">
        <form action="{{ url_for('SubmitRequest')}}" method="post" enctype="multipart/form-data">
            <div>
                <label for="title-t">Title:</label>
            	<textarea type="text" name="title" id="title-t" rows=1 cols=max class="form-control"></textarea>
            </div>
            <div>
                <label for="Author-t">Author:</label>
            	<textarea type="text" name="author" id="author-t" rows=1 cols=max class="form-control"></textarea>
            </div>
            <div>
                <label for="Edition-t">Edition:</label>
            	<textarea type="text" name="edition" id="edition-t" rows=1 cols=max class="form-control"></textarea>
            </div>
            <div>
                <label for="ISBN-t">ISBN:</label>
            	<textarea type="text" name="ISBN" id="ISBN-t" rows=1 cols=max class="form-control"></textarea>
            </div>
            <div>
                <label for="term-t">Term:</label>
            	<textarea type="text" name="term" id="term-t" rows=1 cols=max class="form-control"></textarea>
            </div>
            <div>
                <label for="course_number-t">Course Number:</label>
            	<textarea type="text" name="course_number" id="course_number-t" rows=1 cols=max class="form-control"></textarea>
            </div>
            <div>
                <label for="instructor-t">Instructor:</label>
            	<textarea type="text" name="instructor" id="instructor-t" rows=1 cols=max class="form-control"></textarea>
            </div>
            <div class="text-right">
            	<button class="btn btn-primary" type="submit">
            	Submit
            	</button>
            </div>
        </form>
    <div class="panel-footer">
    </div>
</div> 
{% endblock %}