{% extends "snips/base.html" %} 
{% set currentPage = "Upload" %}
{% block body %}

<form id="drop" action="/uploading" method="post" enctype="multipart/form-data">
    <div class="panel panel-default">
        <div class="panel-heading">
	    </div>
        <div class="panel-body">
            <div>
                <input type="file" name="file" multiple required></input> 
            </div>
            <div>
                <label for="title-t">Title:</label>
            	<input type="text" name="title" id="title-t" class="form-control" required> </input>
            </div>
            <div>
                <label for="author-t">Author:</label>
            	<textarea type="text" name="author" id="author-t" rows=1 cols=max class="form-control"></textarea>
            </div>
            <div>
                <label for="edition-t">Edition:</label>
            	<textarea type="text" name="edition" id="edition-t" rows=1 cols=max class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="text-left">
    	<input type="submit" class="btn btn-primary" value="Save">
    	<a href="/index" class="btn btn-danger">Cancel</a>
    </div>
</form>
{% endblock %}